<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="rem">
    <p>The file <%= sujet%> is removed to <%=target%> with succes</p>
</div>

<%- include('../partials/footer') %>